/* Oxanium Font Import */

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Oxanium:wght@400;700&display=swap");
body {
  --ox: "Oxanium";
  --samgrad: rgb(6, 4, 121) linear-gradient(90deg, rgb(9, 11, 102) 0%, rgb(99, 100, 180) 50%, rgb(80, 127, 180) 100%);
  font-family: var(--ox);
  font-size: 16px;
  line-height: 1;
  background: var(--samgrad);
  text-shadow: rgb(4, 29, 31) 0px 2px 2px;
}

textarea {
  background: transparent;
  border: none;
  min-width: 80%;
  width: auto;
  color: black;
  border-left: 2px solid white;
  border-right: 2px solid white;
  padding-right: 0%;
  margin-right: 0%;
  padding: 10px;
  text-shadow: rgb(0, 0, 0) 0px 2px 3px;
  font-size: 1.05em;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: white;
  border-radius: 0;
  border-bottom: 10px solid white;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  display: flex;
  justify-content:space-around;
  white-space: pre-wrap;
  border: 3px solid rgb(255, 255, 255);
  padding-left: 1%;
 
  border-radius: 15px;
  
  margin: 1%; 
}

.hour {
  background-color: #ffffff;
  color: white;
  justify-self: center;
  align-self: center;
  background: transparent;
}

.past {
  background-color: #4ba6ca;
  color: white;
}

.present {
  background-color: #e04f45;
  color: black;
}

.future {
  background-color: #bdb328;
  color: rgb(255, 255, 255);
}

.saveBtn {
  border:none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06829e;
  color: white;
  font-size: 21px;
  text-shadow: rgb(4, 29, 31) 0px 1px 2px;
}
.saveBtn:hover {
  font-size: 21px;
  border:none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(221, 245, 9);
  text-shadow: rgb(65, 68, 33) 0px 2px 2px;
  color: rgb(255, 255, 255);
}
.saveBtn:active {
  font-size: 21px;
  border:none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(219, 14, 14);
  text-shadow: rgb(42, 44, 20) 0px 2px 2px;
  color: white;
}